* {
  box-sizing: border-box; }

html {
  font-size: 18px; }

.titlebar {
  height: 4rem; }
  .titlebar .title {
    font-size: 3rem;
    margin: auto;
    text-align: center; }

#gamecontainer {
  max-width: 90%;
  border: 1px solid #000;
  font-size: 0;
  padding: 2rem;
  margin: auto; }

#boardcontainer {
  margin: auto;
  border: 1px solid #bcbcbc;
  display: inline-block; }
  #boardcontainer .square {
    width: 4.98rem;
    height: 5rem;
    border: 1px solid #bcbcbc;
    display: inline-block; }
    #boardcontainer .square.active {
      transform: scale(1.1, 1.1); }

#statscontainer {
  font-size: 14px;
  margin-left: 50px;
  display: inline-block;
  vertical-align: top; }
