@import "_variables";

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 18px;
}

.titlebar {
  margin-top: 2rem;
  height: 4rem;
  .title {
    font-size: 3rem;
    margin: auto;
    text-align: center;
    transition: scale 500ms linear;
  }
}

#gamecontainer {
  display: flex;
  font-size: 0;
  padding-top: 2rem;
  margin: auto;
  justify-content: space-around;
}

#boardcontainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  min-width: 650px;

  .square {
    width: 5rem;
    height: 5rem;
    border: 1px solid #bcbcbc;
    display: inline-block;
    // transition: background-color 200ms linear;

    &.active {
      scale: 110%;
      transition: scale 150ms ease;
      border: 1px solid #FFF;
    }
  }

  .b-left {
    border-left: 2px solid $border;
  }
  .b-right {
    border-right: 2px solid $border;
  }
  .b-top {
    border-top: 2px solid $border;
  }
  .b-bottom {
    border-bottom: 2px solid $border;
  }
}

#stats {
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
}

.levelUp {
  transform: scale(1.5, 1.5)

}


@keyframes expando {
  from {
    scale: 100%;
  }

  to {
    scale: 110%;
  }
}