@import "_variables";

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 18px;
}

.titlebar {
  margin-top: 2rem;
  height: 4rem;
  .title {
    font-size: 3rem;
    margin: auto;
    text-align: center;
  }
}

#gamecontainer {
  max-width: 90%;
  display: flex;
  font-size: 0;
  padding-top: 2rem;
  margin: auto;
}

#boardcontainer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  .square {
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    border: 1px solid #bcbcbc;
    display: inline-block;
    transition: background-color 200ms linear;

    &.active {
      transform: scale(1.1, 1.1);
    }
  }

  .b-left {
    border-left: 2px solid $border;
  }
  .b-right {
    border-right: 2px solid $border;
  }
  .b-top {
    border-top: 2px solid $border;
  }
  .b-bottom {
    border-bottom: 2px solid $border;
  }
}

#stats {
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
}