---
title: 7x7 Game
---
<div class="titlebar">
	<h3 class="title">7x7 Game</h3>
</div>
<div id="gamecontainer">
	<div id="boardcontainer">
		
	</div>	
	<table id="statscontainer">
		<tr>
			<td>Total Clicks</td>
			<td id="clicks"></td>
		</tr>
	</table>
</div>


